
.x-grid line {
    stroke: #a0a0a2;
    stroke-opacity: 0.7;
}

.y-grid line {
    stroke: #95a7b7;
    stroke-opacity: 0.7;
}
.custom-tick text {
    display: none;
}
.filter-graph-group-container {
    display: flex;
    .filter-container {
        font-family: sans-serif;
        .filter-heading {
            font-size: 15px;
            margin-bottom: 10px;
            margin-top: 40px;
            font-weight: 900;
        }
        .label-group-container {
            border-bottom: 1px solid #e6e2e2;
            padding: 5px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
                font-size: 14px;
                input, span {
                    vertical-align: middle;
                    margin-left: 0;
                    margin-right: 6px;
                }
            }
            svg {
                width: 23px;
            }
        }
    }
}
.graph-container {
    position: relative;
}
.checkbox-container {
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 40px;
    background-color: red;
    vertical-align: top;
    display: inline-block;
    left: 27px;
    & > div {
        position: absolute;
        text-wrap: nowrap;
    }
    .input-checkbox {
        display: inline-block;
        vertical-align: middle;
        margin-top: 3.5px;
        margin-bottom: 3.5px;
    }
    .checkbox-label {
        display: inline-block;
        vertical-align: middle;
    }
}
#timeline {
    display: inline-block;
    margin: 0;
}