<main class="main"></main>
<div class="filter-graph-group-container">
  <form [formGroup]="graphForm" class='filter-container' >
    <div formGroupName="view">
      <p class="filter-heading">View</p>
      <div class="label-group-container">
        <label>
          <input type="checkbox" formControlName="realTiering" />
          <span>Real Tiering</span>
        </label>
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 16 16"><title>Trade_Icons</title><polygon points="14.13 9.11 2.13 9.11 8.13 2.11 14.13 9.11" fill="#e7377b"/><rect x="6.12" y="8" width="4" height="6"  fill="#e7377b"/></svg>
      </div>
      <div class="label-group-container">
        <label>
          <input type="checkbox" formControlName="hypotheticalTiering" />
          <span>Hypothetical Tiering</span>
        </label>
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 16 16"><title>Trade_Icons</title><polygon points="14.13 9.11 2.13 9.11 8.13 2.11 14.13 9.11" fill="#eab005"/><rect x="6.12" y="8" width="4" height="6" fill="#eab005" /></svg>
      </div>
    </div>
    <div>
      <p class="filter-heading">Tax Year</p>
      <div formArrayName="taxYears">
        <div *ngFor="let year of uniqueYears; let i = index" class="label-group-container">
          <label>
            <input type="checkbox" [formControlName]="i">
            <span>{{ year }}</span>
          </label>
        </div>
      </div>
    </div>
  </form>
  <app-graph
    [entityThreads]="entityThreads"
    [threadRelations]="threadRelations"
    [selectedYears]="selectedYears"
  ></app-graph>
</div>
<router-outlet />
