<main class="main"></main>
<form [formGroup]="graphForm">
  <div formGroupName="view">
    <label>
      <input type="checkbox" formControlName="realTiering" />
      Real Tiering
    </label>
    <label>
      <input type="checkbox" formControlName="hypotheticalTiering" />
      Hypothetical Tiering
    </label>
    <!-- <label>
      <input type="checkbox" formControlName="realRoleForward" />
      Real Role Forward
    </label>
    <label>
      <input type="checkbox" formControlName="hypotheticalRoleForward" />
      Hypothetical Role Forward
    </label> -->
  </div>
  <div>
    <h4>Select Tax Years:</h4>
    <div formArrayName="taxYears">
      <div *ngFor="let year of uniqueYears; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i">
          {{ year }}
        </label>
      </div>
    </div>
  </div>
</form>
<app-graph
  [entityThreads]="entityThreads"
  [threadRelations]="threadRelations"
  [selectedYears]="selectedYears"
></app-graph>
<router-outlet />
